<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- INCLUDE CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
    <!-- header -->
    {% include 'header.html' %}
    <!-- content -->
    <div class="container overflow-hidden">
        <div class="row g-5">
            <div class="col-8">
                <div class="p-4">
                    {% block content %}

                    {% endblock content %}
                </div>
            </div>
            <div class="col-4">
                <div class="p-4">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {% include 'footer.html' %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>