<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Logotype</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <!-- link menu -->
            </ul>
            <div class="d-flex p-1">
                <p class="text-white p-1">Hello, {{ user.username|default:'Guest' }}</p>
                {% if user.is_authenticated %}
                <p class="p-1"><a href="{% url 'logout' %}" class="link-light">Logout</a></p>

                {% else %}
                <p class="p-1"><a href="{% url 'signup' %}" class="link-light">Sign Up</a></p>
                <p class="p-1"><a href="{% url 'login' %}" class="link-light">Login</a></p>
                {% endif %}
            </div>

        </div>
    </div>
    </div>
</nav>