{% extends 'base.html' %}
{% block title %}Main{% endblock title %}
{% block content %}
<h1>Articles</h1>
{% for article in object_list %}

<div class="p-2">
    <div class="card">
        <div class="card-body">
            <h4>
                {{ article.title }}
            </h4>
            <h6>
                {{ article.creation_date }}
            </h6>
            <p>
                {{ article.text|truncatewords:24 }}
            </p>
            <a href="{{ article.get_absolute_url }}">
                Read more
            </a>
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}