{% extends 'base.html' %}
{% block title %}Main{% endblock title %}
{% block content %}
<h1>Articles</h1>

{% if list_articles %}
{% for article in list_articles %}
<div class="p-2">
    <div class="card">
        <div class="card-body">
            <h4>
                <a href="{% url 'detail' article.slug %}">
                    {{ article.title }}
                </a>
            </h4>
            <h6>
                {{ article.creation_date }}
            </h6>
            <p>
                {{ article.text|truncatewords:24 }}
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<p>No articles</p>
{% endif %}

{% endblock content %}